@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}

@media  (max-width: 1200px) {
  /* .menu { width:600px; } */
  body{
    width: 1000px;
  }
  }

:root {
  --primary: rgba(251, 248, 248, 0.763);
  --secondary: rgb(70, 29, 29);
}

header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--secondary);
  align-items: center;
  
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
  color: white;
  font-size: 30px;
  margin-top: none;

}

header nav button{
  background: rgb(200, 198, 198);
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  
  font-size: 15px;
  font-weight: bold;
  background-color: var(--secondary);
  border-color: white;
  color: white;
}

header nav button:hover{
  color: var(--primary);
  font-weight: bolder;
}

.nav-controle{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
