.titulo{
    text-align: center;
    height: 6vh;
    color: rgb(70, 29, 29);
    font-size: 40px;
}

.form{
    position: absolute; 
    left: 490px; /* posiciona a 90px para a esquerda */ 
    top: 90px; /* posiciona a 70px para baixo */
        text-align: center;
        padding: 20px;
        color: rgb(70, 29, 29); /*colocar roxo*/
        font-weight: bolder;
        font-size: 25px;
        width: 350px;
       
        background-color: var(--primary); /*colocar whitesmoke*/
        border-radius: 20px;
}
.field{
    border: 6px solid rgb(70, 29, 29) ; /*colocar roxo*/
}

.legend{
    border: 1px solid rgb(70, 29, 29); /*colocar roxo*/
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.botao{
    
        padding: 10px;
        margin: 10px;
        font-size: 18px;
        width: 220px;
        background-color:  rgb(70, 29, 29); ;
        color:white;
        border-radius: 20px;
        outline: none;     
}
.botao:hover{
    color: var(--primary);
}

.caixa{
        width: 200px;
        height: 6vh;
        border-radius: 10px;
        cursor: pointer;
        background-color:var(--primary) ;
    }
    ::placeholder{
        text-align: left;
    }